<div class="row">
  <div class="col xl12 l12 m12 s12 xs12">
    <div class="card">
      <div class="card-content">
        <small><%= time_ago_in_words(tweet.created_at) %> ago</small>
        <p><%= tweet.content %></p>
      </div>
    </div>
  </div>
</div>
