<%= render layout: "users/user_info", locals: { user: current_user } do %>
  <h3>Search Results</h3>
  
  <br/>

  <% @results.each do |result| %>
    <div class="row">
      <div class="col xl12 l12 m12 s12 xs12">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title"><%= result.searchable_type.constantize.model_name.human %></h3>
            <p><%= result.searchable_type.constantize.find(result.searchable_id).card_content.join("<br />").html_safe %></p>
          </div>
          <% if result.searchable_type == "User" %>
            <div class="card-action">
              <%= link_to "User profile", user_path(result.searchable_id) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
