/*
*= require material_icons 
*/

@import "materialize/components/color";

/* PUT custom materialize variable colors between these two imports*/

@import "materialize";
@import "devise";
@import "user";

h1, h2, h3, h4, h5, .title {
  color: #673ab7;
}

.top-bar {
  background-color: #f5f5f5;

  a {
    color: black;
    font-size: 2em;
  }

  div {
    padding-right: 1em;
    color: black;
  }
}
