.user-top-bar {
  background-color: #e0e0e0;
  color: #673ab7;
  padding: 0.5em;
  font-size: 1.2em;

  .info-text {
    padding-top: 0.5em;
  }

  .follow-button {
    color: #673ab7;
  }
}


.left-nav {
  position: absolute;
  height: 100%;
  -webkit-box-shadow: 4px 4px 4px -5px black;
     -moz-box-shadow: 4px 4px 4px -5px black;
          box-shadow: 4px 4px 4px -5px black;

  .content {
    height: inherit;

    .name {
      color: #673ab7;
      font-size: 1.5em;
    }

    .username {
      color: #a79fb1;
      font-size: 1.1em;
    }
  }
}
